<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  ###STYLESHEET###
  ###JAVASCRIPT###

  <script>
    requirejs.config({
      baseUrl: '.'
    });
  </script>
</head>

<body class="">
  <div class="page">
    <div class="flex-fill">
      <div class="header py-4">
        <div class="container">
          <div class="d-flex">
            <a class="header-brand" href="{$baseurl}">Flake.</a>
            <div class="d-flex order-lg-2 ml-auto">
              <div class="dropdown">
                <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                  <span class="ml-2 d-none d-lg-block">
                    <span class="text-default">Welcome!</span>
                    <small class="text-muted d-block mt-1">ADMINISTRATIONMODE</small>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg order-lg-first">
              <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                  <a href="{$baseurl}entity" class="nav-link">Entity</a>
                </li>
                <li class="nav-item">
                  <a href="{$baseurl}unmount" class="nav-link">Deactivate Maintenance</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3 my-md-5">
        <div class="container">
          <div class="row">{$content|noescape}</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-6 col-md-3"></div>
              <div class="col-6 col-md-3"></div>
              <div class="col-6 col-md-3"></div>
              <div class="col-6 col-md-3"></div>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            Flake. <br /> App Context: V{$version}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>