<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Current Entities</h3>
        </div>
        <form action="" method="POST">
            <div class="form-group">
                <input type="hidden" name="action" value="create-entity">
                <input type="text" class="form-control" name="name" placeholder="New Entity needed? Insert name and enter.....">
            </div>
        </form>
        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach R::findAll('flakeentity') as $oneEntity}
                        <tr>
                            <td>{$oneEntity->name}</td>
                            <td class="text-nowrap">{date('d.m.Y H:i', $oneEntity->created)}</td>
                            <td class=""><a href="{$baseurl}entity/show/{$oneEntity->id}">show</a> | <a href="{$baseurl}entity/delete/{$oneEntity->id}">delete</a></td>
                        </tr>
                    {/foreach}

                    {if (!$oneEntity)}
                        <td colspan="3">Sorry! No entities available....</td>  
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
</div>