<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Current Grids for Entity {$entity->name}</h3>
        </div>
        <form action="" method="POST">
            <div class="form-group">
                <input type="hidden" name="action" value="create-grid">
                <input type="text" class="form-control" name="name" placeholder="New Grid needed? Insert name and enter.....">
                <input type="text" class="form-control" name="label" placeholder="Label">
                <input type="number" class="form-control" name="sorting" placeholder="Sorting. Leave empty for last position.">
                <input type="submit" value="submit" />
            </div>
        </form>
        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th>Name -> Label</th>
                        <th>Sorting</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach R::findAll('flakegrid', 'entity_id = ? ORDER BY sorting ASC', [$entity->id]) as $oneGrid}
                        <tr>
                            <td>{$oneGrid->name} -> {$oneGrid->label}</td>
                            <td>{$oneGrid->sorting}</td>
                            <td class="text-nowrap">{date('d.m.Y H:i', $oneGrid->created)}</td>
                            <td class=""><a href="{$baseurl}grid/show/{$oneGrid->id}">show</a> | <a href="{$baseurl}grid/delete/{$oneGrid->id}">delete</a></td>
                        </tr>
                    {/foreach}

                    {if (!$oneGrid)}
                        <td colspan="3">Sorry! No grids available....</td>  
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
</div>