<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Current Attributes for Grid {$grid->name}</h3>
        </div>
        <form action="" method="POST">
            <div class="form-group">
                <input type="hidden" name="action" value="create-attribute">
                <input type="text" class="form-control" name="name" placeholder="New Attribute needed? Insert name and enter.....">
                <input type="text" class="form-control" name="label" placeholder="Label">

                <select name="attribute-type" class="form-control custom-select">
                    <option value="text">Textfield</option>
                    <option value="textarea">Textarea</option>
                    <option value="wysiwyg">WYSIWYG</option>
                    <option value="imageupload">Image Upload</option>
                    <option value="fileupload">File Upload</option>
                </select>
                
                <input type="number" class="form-control" name="sorting" placeholder="Sorting. Leave empty for last position.">
                <input type="submit" value="submit" />
            </div>
        </form>
        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th>Name -> Label</th>
                        <th>Type</th>
                        <th>Sorting</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach R::findAll('flakeattribute', 'grid_id = ? ORDER BY sorting ASC', [$grid->id]) as $oneAttribute}
                        <tr>
                            <td>{$oneAttribute->name} -> {$oneAttribute->label}</td>
                            <td>{$oneAttribute->type}</td>
                            <td>{$oneAttribute->sorting}</td>
                            <td class="text-nowrap">{date('d.m.Y H:i', $oneAttribute->created)}</td>
                            <td class=""><a href="{$baseurl}attribute/delete/{$oneAttribute->id}">delete</a></td>
                        </tr>
                    {/foreach}

                    {if (!$oneAttribute)}
                        <td colspan="3">Sorry! No attributes available....</td>  
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
</div>